@{
    ViewBag.Title = "Forgot Password Confirmation";
}
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/main_styles.css">
<!-- Slider -->
<style>
    .news_section_container {
        margin-top: 200px;
    }

    .row-item-new {
        margin-bottom: 20px;
    }

    .title-news {
        font-size: 24px;
        border-bottom: 1px solid;
        padding: 15px 0;
        margin-bottom: 25px;
    }

    .img-box img {
        max-width: 100%;
        max-height: 100%;
    }
</style>
<div class="container news_section_container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="title-news">Lấy lại mật khẩu</h1>
            @*<h2>@ViewBag.Title.</h2>*@

            <p>
                Vui lòng kiểm tra email của bạn để xác nhận và đặt lại mật khẩu mới!
            </p>
        </div>

    </div>
    
</div>


